<!DOCTYPE html>
<html lang="en">

<head>
  <title>Header - Underdark CSS</title>
  <meta charset="UTF-8">
  <title>Uweb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/module.css">
  <link rel="stylesheet" href="/static/css/theme.css">
</head>

<body id="header" class="layout">
  <header>
    <div>
      <div class="logo">
        <a href="/">Uweb3 test page</a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <nav>
        <ul class="external">
          <li><a href="//underdark.nl">Underdark.nl</a></li>
        </ul>
        <ul>
          <li><a href="/sqlalchemy">Sqlalchemy</a></li>
          <li><a href="/test">Tempalteparser</a></li>
          <li><a href="/logout">logout</a></li>
        </ul>
      </nav>
      <button class="toggle">Menu</button>
    </div>
  </header>
  <section> 
    Loggedin with secure cookie.
    <form method="POST" action="/home/create">
      {{ xsrf [xsrf]}}
      <button>Create new secure cookie</button>
    </form>
    <form method="POST" action="/home/update">
      {{ xsrf [xsrf]}}
      <button>Update secure cookie</button>
    </form>
    <form method="POST" action="/home/delete">
      {{ xsrf [xsrf]}}
      <button>Delete secure cookie</button>
    </form>
  </section>
</body>
 </html>