<!DOCTYPE html>
<html lang="en">

<head>
  <title>Header - Underdark CSS</title>
  <meta charset="UTF-8">
  <title>Uweb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//css.underdark.nl/0.2/base.css" rel="stylesheet" />
  <link href="//css.underdark.nl/0.2/layout.css" rel="stylesheet" />
  <link href="//css.underdark.nl/0.2/module.css" rel="stylesheet" />
  <link href="//css.underdark.nl/0.2/theme.css" rel="stylesheet" />
</head>

<body id="header" class="layout">
  <header>
    <div>
      <div class="logo">
        <a href="/">Uweb3</a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <form class="login" method='post'>
        {{xsrf [xsrf]}}
        <div>
          <label for="username">Username</label>
          <input type="text" id="username" name="username">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
        </div>
        <input type="submit" value="Log in">
      </form>
      <button class="toggle">Menu</button>
    </div>
  </header>
</body>

</html>