<!DOCTYPE html>
<html lang="en">

<head>
  <title>Header - Underdark CSS</title>
  <meta charset="UTF-8">
  <title>Uweb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/module.css">
  <link rel="stylesheet" href="/static/css/theme.css">
</head>

<body id="header" class="layout">
  <header>
    <div>
      <div class="logo">
        <a href="/">Uweb3</a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <form class="login" method='post' action="/login">
        <div>
          <label for="username">Username</label>
          <input type="text" id="username" name="username">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
        </div>
        <input type="submit" value="Log in">
      </form>
      <button class="toggle">Menu</button>
    </div>
  </header>

  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
      var socket = io("127.0.0.1:8000");
      socket.on('connect', function() {
          socket.emit('EVENT', {data: 'I\'m connected!'});
      });
  </script>
</body>

</html>