<!DOCTYPE html>
<html lang="en">

<head>
  <title>Header - Underdark CSS</title>
  <meta charset="UTF-8">
  <title>Uweb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//css.underdark.nl/0.2/base.css" rel="stylesheet" />
  <link href="//css.underdark.nl/0.2/layout.css" rel="stylesheet" />
  <link href="//css.underdark.nl/0.2/module.css" rel="stylesheet" />
  <link href="//css.underdark.nl/0.2/theme.css" rel="stylesheet" />
</head>

<body id="header" class="layout">
  <header>
    <div>
      <div class="logo">
        <a href="/">Uweb3 another test page</a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <button class="toggle">Menu</button>
    </div> 
  </header>
  <section>
    <div>
    <p>Alt + click to generate new content</p>
    <nav>
      <a href='/parsed?template=test.html'>Generate content</a>
      <a href='/parsed?template=test2.html'>index</a>
    </nav>
  </div>
  <p>
   [variable]
   [variable]
  </p>
  <p>
  [variable2]
  </p>
  <p>
  [variable|len]
  </p>
  <p>
    [variable|substr(1)]
  </p>
  <p>
   [variable|substr(2)]
  </p>
  <p>
  {{if [variable]}}
    [variable]
  {{endif}}
  </p>
  {{for item in [variable]}} [item] {{endfor}}
  </section>

  <script src="/static/scripts/ajax.js"></script>
  <script src="/static/scripts/uweb-dynamic.js"></script>
  <script src="/static/scripts/uweb3-template-parser.js"></script>

</body>
 </html>
