<!DOCTYPE html>
<html lang="en">

<head>
  <title>Header - Underdark CSS</title>
  <meta charset="UTF-8">
  <title>Uweb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//css.underdark.nl/0.2/base.css" rel="stylesheet" />
  <link href="//css.underdark.nl/0.2/layout.css" rel="stylesheet" />
  <link href="//css.underdark.nl/0.2/module.css" rel="stylesheet" />
  <link href="//css.underdark.nl/0.2/theme.css" rel="stylesheet" />
</head>

<body id="header" class="layout">
  <header>
    <div>
      <div class="logo">
        <a href="/">Test page</a>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <nav>
        <ul class="external">
          <li><a href="//underdark.nl">Underdark.nl</a></li>
        </ul>
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
      <button class="toggle">Toggle</button>
    </div>
  </header>
  <section>
    <!-- <form method="POST">
      {{xsrf [xsrf]}}
      <input type="submit" value="ok">
    </form> -->
    <form method="POST" action="/test/create">
      <input type="submit" value="create">
    </form>
    <form method="POST" action="/test/update">
      <input type="submit" value="update">
    </form>
    <form method="POST" action="/test/delete">
      <input type="submit" value="delete">
    </form>
    <p>
      Logged in
    </p>
  </section>
</body>

</html>